<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="EndToEnd">
            <directory suffix="Test.php">./tests/EndToEnd</directory>
        </testsuite>
    </testsuites>



    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/test-coverage-report/" />
        </report>
    </coverage>
    <php>
        <env name="MODE" value="TEST" force="true"/>
        <env name="API_BASE_URL" value="http://localhost/" force="true"/>
        <env name="DB_HOST" value="dbtest" force="true"/>
    </php>
</phpunit>
